* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*By setting box-sizing: border-box;, you can have more predictable and consistent control over the size and layout of elements, making it easier to design responsive and flexible layouts in CSS. */
}

.container {
    width: 100%;
    min-height: 100vh;
background: linear-gradient(360deg, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding-top: 14%;
    padding-left:37%;
    display:flex;
    flex-direction:column;
    
}
.logo {
    margin-top:-21%;
    margin-left:-57%;
    max-width:210px;
    Color:white;
    background-color:red;
   
}

.container h1 {
    display: flex;
    align-items:center;
    font-size: 35 px;
    font-weight:600;
}

.container h1 img {
    width: 60px;
}

.container button {
    
    background:white;
    color: black;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding:20px 25px;
    margin:20px 0 20px;
    margin-left:3%;
    cursor:pointer;
    opacity:60%;
    max-width:400px;
    
}

.input-box{
    position: relative;
    margin-left:3%;
    max-width:400px;
    min-height:150px;
    background: white;
    outline: none;
    border-radius:5 px;
    opacity:30%;
    border: 1px solid black;
    color:black;
    margin-top:5px;
    margin-bottom:1%;
}

.input-box img{
    width: 25 px;
    position: absolute;
    bottom: 15px;
    right:15px;
    cursor:pointer;
}

